@media screen and (max-width: 991px) {
  .main-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  /* Header */
  .header__inner {
    padding-top: 28px;
    padding-bottom: 28px;
    justify-content: space-between;
    background-color: var(--background-color);
  }

  .logo__image {
    width: 172px;
  }

  .header__contacts {
    display: none;
  }

  .kit-link {
    padding: 8px 20px;
  }

  .kit-link__txt {
    display: none;
  }

  /* About */
  .about {
    flex-direction: column;
  }

  .orion-pharm {
    width: 100%;
    height: auto;
    padding: 60px 20px 72px;
  }

  .orion-pharm::before {
    left: -40%;
  }

  .orion-pharm h2 {
    font-size: 38px;
    line-height: normal;
  }

  .orion-pharm h2::before {
    display: none;
  }

  .orion-pharm h2::after {
    left: -460px;
  }

  .orion-pharm h2 small {
    line-height: normal;
    margin-top: 8px;
  }

  .about-company {
    height: auto;
    padding: 32px 20px;
  }

  /* Aim */
  .aim__inner {
    padding-top: 32px;
    padding-bottom: 32px
  }

  .aim-list {
    flex-direction: column;
  }

  .aim-card {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .aim-card__header {
    padding: 20px;
  }

  .aim-card__image {
    display: flex;
  }

  .aim-card__image-bg {
    display: none;
  }

  /* Advantages */
  .advantages-item {
    flex-direction: column;
    gap: 20px;
  }

  .advantages-item__desc {
    margin-bottom: 20px;
    padding-right: 0;
  }

  .advantages__inner {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  /* Feedback */
  .feedback__inner  {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .feedback__main-container {
    border-radius: 0;
  }

  .feedback__image {
    display: none;
  }

  .feedback__main {
    padding: 32px 20px;
    margin: 0 -16px;
  }

  .feedback__contacts {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  /* Location */
  .location__desc {
    margin-bottom: 32px;
  }

  .map {
    height: 420px;
  }

  /* Footer */
  .footer__inner {
    flex-direction: column;
    gap: 20px;
    background-color: var(--background-color);
  }
}